numpy
pandas
cooler
h5py
fastapi[standard]
pydantic_settings
uvicorn
networkx
pydot
scikit-learn
git+https://github.com/hiclib/pastis.git

# Local patch files for Python 3.12+ compatibility
./distutils_fix.py
./distutils_fix.pth